img{
    width:70px;
    margin-top: 5px ;
    margin-bottom: 50px ;
}

.container{
    margin-top: 50px;
  }
  #Head{
      font-family:Raleway
      margin-left: 1.66%;
      font-size: 23px;
      font-weight:400; 
      text-transform:uppercase;
      border-bottom: 1px solid #c1c2bc;
      width: 11.5%;
      margin: 0 auto;
      color: black;
  }
  /* ul{
    margin:0 auto;
  } */
  ion-icon{
      color:black;
      font-size: 30px;
      
  }

  .nav{
    margin-top: 0.%;
  }

  a{
    color: #757575;
    
  }

  a:hover{  
      color: black;
      text-decoration: none;
  }

  div, a{
    text-align:center;
    
  }
  .Title{
    margin-top:0.9%;
    font-size: 13px;
    margin-bottom: 3%;
  }

  #header{
    font-weight: bold;
    text-transform: uppercase;
    text-align: justify;

  }

  #main{
      width: 400px;
      
  }

  #mainText{
    text-align: justify;
  }