.container{
    margin-top: 200px;
  }
  #Head{
      font-family:Raleway
      margin-left: 1.66%;
      font-size: 23px;
      font-weight:400; 
      text-transform:uppercase;
      border-bottom: 1px solid #c1c2bc;
      width: 12%;
      margin: 0 auto;
  }
  /* ul{
    margin:0 auto;
  } */
  ion-icon{
      color:black;
      font-size: 30px;
      
  }
  #links{
    font-family:Raleway;
    margin: auto auto;
  }